# Define weak application types
WEAK_APPTYPE=MPIRUN,PYTHON
# Define the mapping between keywords (k) and application type (v) (k=v)
fds=FDS
vasp=VASP
torch=PYTORCH
tensor=TENSORFLOW
lammps=LAMMPS
aimdsoft=AIMDSOFT
lpdm.exe=LPDM
camx=CAMX
wrf=WRF
fluent=FLUENT
matlab=MATLAB
mechanical=MECHANICAL
eastwave=eastwave
lumerical=lumerical
comsollauncher=COMSOL
star-ccm+=STARCCM++
mono=WORKBENCH
lsdyna_sp_mpp.e=LSDYNA
cellranger=cellranger
miniconda=miniconda
CMAQv=CMAQv
netMHCpan=netMHCpan
ORCA=ORCA
SOAPdenovo=SOAPdenovo
MISA-MD=MISA-MD
MISA-SCD=MISA-SCD
MGEScan=MGEScan
bwa=bwa
hisat=hisat
stacks=stacks
dgdft=dgdft
MaterialsStudio=MaterialsStudio
cp2k=cp2k
freesurfer=FreeSurfer
DS-PAW=DS-PAW
FHI-aims=FHI-aims
kraken=kraken
nwchem=nwchem
l202.exe=Gaussian
l502.exe=Gaussian
l401.exe=Gaussian
l302.exe=Gaussian
l701.exe=Gaussian
pre/standard/explicit=ABAQUS
misamd=MISA-MD
global_chgres=ATMOS
BCC_CSM=ATMOS
mosaic=ATMOS
real.exe=real
lasp=LASP
pexsi=PEXSI
ipmitool=IPMITOOL
bilay-fru=bilay-fru
cbjq-h=cbjq-h
jqsse_sqjq=JQSSE_SqJQ4
jqsse_sqpbcstjq=JQSSE_SqPBCStJQ3
jqsse_sqcylstjq=JQSSE_SqCylStJQ3
jq3mag=jq3mag
chgres_cube=chgres_cube
nektar3d=nektar3d
qe-6.3=QEepw
qe6.7=QEepw
ewp3d.out=ewp3d
csource_grd=csource_grd
metgrid.exe=WPS metgrid
anaconda=Anaconda
metropolis=metropolis
massflow=massflow
ndown.exe=ndown
gsi.exe=gsi
unipost.exe=unipost
tensile=Tensile
keras=KERAS
.nc=ATMOS
icoFoam=OPENFOAM
SU2_CFD=SU2
paraview=PARAVIEW
abaqus=ABAQUS
solver-mpi.exe=CFX
ansys=ANSYS
fluent_mpi.20.2=FLUENT
ansys.e=Mechanical
fftw=fftw
NAMD=NAMD
hcephes=hcephes
hdf4=hdf5
ioapi=ioapi
jpeg=jpeg
lapack=lapack
leptonica=leptonica
netcdf=netcdf
nlopt=nlopt
blas=openblas
petsc=petsc
pnetcdf=pnetcdf
scotch=scotch
sparskit=sparskit
zlib=zlib
pw.x=quantum_espresso
cp2k.popt=cp2k
abinit=abinit
siesta=siesta
misascd=misa_scd
qmcpack=qmcpack
bigdft=bigdft
xmgrace=xmgrace
vtk=vtk
openmx=openmx
ovito=ovito
cmaq=CMAQ
oceanM=ROMS
nco=NCO
wrf.exe=WRF
ncl=NCL
hisat2=hisat2
admixture=admixture
Java=beast
bismark=bismark
bowtie=bowtie2
crest=crest
fastq_filter.pl=ctk
diamond=diamond
estsize=estsize
fastp=fastp
fastphase=fastphase
fastq_multx=fastq_multx
FastTreeMP=fasttree
fastx_toolkit=fastx_toolkit
featurecounts=featurecounts
flash=flash
gatk=gatk
genetack=genetack_gt
genomescope=genomescope2.0
glimmer=glimmer
glimmerhmm=glimmerhmm
gmap.avx2=gmap_gsnap
hifiasm=hifiasm
hlaminer=hlaminer
htslib=htslib
lastz=lastz
EstimateSVLoci=manta
minimap3=minimap2
mummer=mummer
picard=picard
plink=plink
qualimap=qualimap
salmon=salmon
samtools=samtools
seqtk=seqtk
smoove=smoove
sra_toolkit=sra_toolkit
stringtie=stringtie
trf=trf
trimal=trimal
trimmomatic=trimmomatic
trinityrnaseq=trinityrnaseq
unimap=unimap
lmp_mpi=LAMMPS
gmx_mpi=GROMACS
namd2=NAMD
autodock=autodock
hashcat=hashcat
bwa_gasal3=bwa_gasal2
genomeworks=genomeworks
barracuda=barracuda
misa_md=misa_md
faster-rcnn=Faster-RCNN
mmdetection=mmdetection
mnist=MNIST
kinetic+lambda+longi_scankmax_firstoption=Kinetic+Lambda+Longi_ScanKmax_firstOption
onlyonecolorwithoutsymmetrization=onlyOneColorWithoutSymmetrization
withtwocolorssymmetrizationwithinteraction=withTwoColorsSymmetrizationWithinteraction
python=PYTHON
python3=PYTHON
mpirun=MPIRUN
jupyter=JUPYTER
momap=MOMAP
MOMAP-2022A=MOMAP
vasp_std=VASP
pytorch=PyTorch
vasp-release.6.4.3=VASP
Square_Hubbard_OBC_Match=Square_Hubbard_OBC_Match
yolo=YOLO
conda=conda
F5TTS=F5TTS
pyQUDA=QCD
lime=QCD
fastfold=fastfold
demux.pl=GROMACS
gmx-completion.bash=GROMACS
gmx-completion-gmx_mpi.bash=GROMACS
GMXRC=GROMACS
GMXRC.bash=GROMACS
GROMACS=GROMACS
GMXRC.csh=GROMACS
GMXRC.zsh=GROMACS
xplor2gmx.pl=GROMACS
abq=ABAQUS
lsprepost=LSDYNA
lsdyna=LSDYNA
lsdyna192=LSDYNA
rdresu=LSDYNA
wrtres=LSDYNA
r11=LSDYNA
bert=BERT
cfx=CFX
comsol=COMSOL
dbm=CP2K
psmp=CP2K
libcp2k=CP2K
xyz2dcd=CP2K
ew7job=EASTWAVE7
ew7submit=EASTWAVE7
solver=EASTWAVE7
fastqc=FASTQC
flremote=FLUENT
fluentbench=FLUENT
fluent-cleanup=FLUENT
FluentSyC=FLUENT
h5clear=HDF5
h5copy=HDF5
h5debug=HDF5
h5delete=HDF5
h5diff=HDF5
h5dump=HDF5
h5format_convert=HDF5
h5fuse=HDF5
h5import=HDF5
h5jam=HDF5
h5ls=HDF5
h5mkgrp=HDF5
h5pcc=HDF5
h5perf=HDF5
h5pfc=HDF5
h5redeploy=HDF5
h5repack=HDF5
h5repart=HDF5
h5stat=HDF5
h5unjam=HDF5
h5watch=HDF5
ph5diff=HDF5
ansysedt=HFSS
AnsysEM=HFSS
gsl=HYPERMESH
LMFD=LMFD
bmp2lbm=LMFD
runwb2=mechanical
torchrun=mmdet
ncview=ncview
nc4print=NETCDF
nccopy=NETCDF
ncdump=NETCDF
ncgen=NETCDF
ncread=NETCDF
netcdf4=NETCDF
openmp=OpenMP
bwa2=Reference_Correction
modeler_amd64.e=cst
cst=cst