## warning msg
2000=switch to a valid partition
2002=access restricted, contact the administrator
2004=request another partition/nodes or remove -w
2005=reduce job's request cpu number
2006=check job's request node number
2014=request another nodes or remove -w
2018=switch to a valid node
2050=quota limited, check assoc or qos limit
2051=reduce job's request time (--time or -t)
2068=request another nodes or remove -w
2070=request another partition or wait for the partition to become available
2800=reduce job's request memory (--mem or --memory-per-cpu)


# /* slurmctld error codes */
# ESLURM_INVALID_PARTITION_NAME = 		2000,
# ESLURM_DEFAULT_PARTITION_NOT_SET,
# ESLURM_ACCESS_DENIED,
# ESLURM_JOB_MISSING_REQUIRED_PARTITION_GROUP,
# ESLURM_REQUESTED_NODES_NOT_IN_PARTITION,
# ESLURM_TOO_MANY_REQUESTED_CPUS,
# ESLURM_INVALID_NODE_COUNT,
# ESLURM_ERROR_ON_DESC_TO_RECORD_COPY,
# ESLURM_JOB_MISSING_SIZE_SPECIFICATION,
# ESLURM_JOB_SCRIPT_MISSING,
# ESLURM_USER_ID_MISSING =			2010,
# ESLURM_DUPLICATE_JOB_ID,
# ESLURM_PATHNAME_TOO_LONG,
# ESLURM_NOT_TOP_PRIORITY,
# ESLURM_REQUESTED_NODE_CONFIG_UNAVAILABLE,
# ESLURM_REQUESTED_PART_CONFIG_UNAVAILABLE,
# ESLURM_NODES_BUSY,
# ESLURM_INVALID_JOB_ID,
# ESLURM_INVALID_NODE_NAME,
# ESLURM_WRITING_TO_FILE,
# ESLURM_TRANSITION_STATE_NO_UPDATE =		2020,
# ESLURM_ALREADY_DONE,
# ESLURM_INTERCONNECT_FAILURE,
# ESLURM_BAD_DIST,
# ESLURM_JOB_PENDING,
# ESLURM_BAD_TASK_COUNT,
# ESLURM_INVALID_JOB_CREDENTIAL,
# ESLURM_IN_STANDBY_MODE,
# ESLURM_INVALID_NODE_STATE,
# ESLURM_INVALID_FEATURE,
# ESLURM_INVALID_AUTHTYPE_CHANGE =		2030,
# ESLURM_ACTIVE_FEATURE_NOT_SUBSET,
# ESLURM_INVALID_SCHEDTYPE_CHANGE,
# ESLURM_INVALID_SELECTTYPE_CHANGE,
# ESLURM_INVALID_SWITCHTYPE_CHANGE,
# ESLURM_FRAGMENTATION,
# ESLURM_NOT_SUPPORTED,
# ESLURM_DISABLED,
# ESLURM_DEPENDENCY,
# ESLURM_BATCH_ONLY,
# ESLURM_TASKDIST_ARBITRARY_UNSUPPORTED =		2040,
# ESLURM_TASKDIST_REQUIRES_OVERCOMMIT,
# ESLURM_JOB_HELD,
# ESLURM_INVALID_CRED_TYPE_CHANGE,
# ESLURM_INVALID_TASK_MEMORY,
# ESLURM_INVALID_ACCOUNT,
# ESLURM_INVALID_PARENT_ACCOUNT,
# ESLURM_SAME_PARENT_ACCOUNT,
# ESLURM_INVALID_LICENSES,
# ESLURM_NEED_RESTART,
# ESLURM_ACCOUNTING_POLICY =			2050,
# ESLURM_INVALID_TIME_LIMIT,
# ESLURM_RESERVATION_ACCESS,
# ESLURM_RESERVATION_INVALID,
# ESLURM_INVALID_TIME_VALUE,
# ESLURM_RESERVATION_BUSY,
# ESLURM_RESERVATION_NOT_USABLE,
# ESLURM_INVALID_WCKEY,
# ESLURM_RESERVATION_OVERLAP,
# ESLURM_PORTS_BUSY,
# ESLURM_PORTS_INVALID =				2060,
# ESLURM_PROLOG_RUNNING,
# ESLURM_NO_STEPS,
# ESLURM_INVALID_BLOCK_STATE,
# ESLURM_INVALID_BLOCK_LAYOUT,
# ESLURM_INVALID_BLOCK_NAME,
# ESLURM_INVALID_QOS,
# ESLURM_QOS_PREEMPTION_LOOP,
# ESLURM_NODE_NOT_AVAIL,
# ESLURM_INVALID_CPU_COUNT,
# ESLURM_PARTITION_NOT_AVAIL =			2070,
# ESLURM_CIRCULAR_DEPENDENCY,
# ESLURM_INVALID_GRES,
# ESLURM_JOB_NOT_PENDING,
# ESLURM_QOS_THRES,
# ESLURM_PARTITION_IN_USE,
# ESLURM_STEP_LIMIT,
# ESLURM_JOB_SUSPENDED,
# ESLURM_CAN_NOT_START_IMMEDIATELY,
# ESLURM_INTERCONNECT_BUSY,
# ESLURM_RESERVATION_EMPTY =			2080,
# ESLURM_INVALID_ARRAY,
# ESLURM_RESERVATION_NAME_DUP,
# ESLURM_JOB_STARTED,
# ESLURM_JOB_FINISHED,
# ESLURM_JOB_NOT_RUNNING,
# ESLURM_JOB_NOT_PENDING_NOR_RUNNING,
# ESLURM_JOB_NOT_SUSPENDED,
# ESLURM_JOB_NOT_FINISHED,
# ESLURM_TRIGGER_DUP,
# ESLURM_INTERNAL =				2090,
# ESLURM_INVALID_BURST_BUFFER_CHANGE,
# ESLURM_BURST_BUFFER_PERMISSION,
# ESLURM_BURST_BUFFER_LIMIT,
# ESLURM_INVALID_BURST_BUFFER_REQUEST,
# ESLURM_PRIO_RESET_FAIL,
# ESLURM_CANNOT_MODIFY_CRON_JOB,
# ESLURM_INVALID_LICENSE,
# 
# ESLURM_INVALID_MCS_LABEL =			2099,
# ESLURM_BURST_BUFFER_WAIT =			2100,
# ESLURM_PARTITION_DOWN,
# ESLURM_DUPLICATE_GRES,
# ESLURM_JOB_SETTING_DB_INX,
# ESLURM_RSV_ALREADY_STARTED,
# ESLURM_SUBMISSIONS_DISABLED,
# ESLURM_NOT_HET_JOB,
# ESLURM_NOT_HET_JOB_LEADER,
# ESLURM_NOT_WHOLE_HET_JOB,
# ESLURM_CORE_RESERVATION_UPDATE,
# ESLURM_DUPLICATE_STEP_ID =			2110,
# ESLURM_INVALID_CORE_CNT,
# ESLURM_X11_NOT_AVAIL,
# ESLURM_GROUP_ID_MISSING,
# ESLURM_BATCH_CONSTRAINT,
# ESLURM_INVALID_TRES,
# ESLURM_INVALID_TRES_BILLING_WEIGHTS,
# ESLURM_INVALID_JOB_DEFAULTS,
# ESLURM_RESERVATION_MAINT,
# ESLURM_INVALID_GRES_TYPE,
# ESLURM_REBOOT_IN_PROGRESS =			2120,
# ESLURM_MULTI_KNL_CONSTRAINT,
# ESLURM_UNSUPPORTED_GRES,
# ESLURM_INVALID_NICE,
# ESLURM_INVALID_TIME_MIN_LIMIT,
# ESLURM_DEFER,
# ESLURM_CONFIGLESS_DISABLED,
# ESLURM_ENVIRONMENT_MISSING,
# ESLURM_RESERVATION_NO_SKIP,
# ESLURM_RESERVATION_USER_GROUP,
# ESLURM_PARTITION_ASSOC =			2130,
# ESLURM_IN_STANDBY_USE_BACKUP,
# ESLURM_BAD_THREAD_PER_CORE,
# ESLURM_INVALID_PREFER,
# ESLURM_INSUFFICIENT_GRES,
# 
# ESLURM_SUBMIT_MISMATCH_MEMORY_CPU =  2800,	
# ESLURM_INVALID_STANDBY_NODE_PARAMETERS,